.SearchBar {
  display: flex;
  padding: 26px;
  box-sizing: border-box;
  gap: 14px;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background: #ffffff;
  border: 1px solid #e0dfdc;
  border-radius: 14px;
}
.SearchBar__Title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #181818;
}
.SearchBar__input {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.SearchBar__input > img {
  position: absolute;
  margin-left: auto;
  right: 13px;width: 15px;
  height: 15px;
  cursor: pointer;
}
.SearchBar__input input {
  outline: none;
  width: 100%;
  display: flex;
  padding: 13px;
  box-sizing: border-box;
  border: 1px solid #e0dfdc;
  border-radius: 6px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;

  color: #181818;
}
.SearchBar__input__General::placeholder {
  color: #666666;
}

.SearchBar__input__General::-ms-clear {
    display: none;
}