.SearchBar {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 75vh;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.SearchBar__Block {
  width: 100%;
  display: flex;
  gap: 18px;
  padding: 18px;
  background: #ffffff;
  box-sizing: border-box;
  background-color: hsla(0, 0%, 100%, 0.3);
  -webkit-backdrop-filter: blur(15px) saturate(86%);
  backdrop-filter: blur(15px) saturate(86%);
  flex-direction: column;
  transition-duration: 0.5s;
}
.SearchBar__Title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #181818;
}
.SearchBar__input {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.SearchBar__input > img {
  position: absolute;
  margin-left: auto;
  right: 13px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.SearchBar__input input {
  outline: none;
  width: 100%;
  display: flex;
  padding: 13px;
  box-sizing: border-box;
  border: 1px solid #e0dfdc;
  border-radius: 10px;

  font-weight: 300;
  font-size: 30%;
  color: #181818;
}
.SearchBar__input__General::placeholder {
  color: #666666;
}

.SearchBar__input__General::-ms-clear {
  display: none;
}
.SearchBar__Header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: flex-start;
  width: 100%;
  gap: 7px;
  -webkit-backdrop-filter: blur(15px) saturate(86%);
  backdrop-filter: blur(15px) saturate(86%);
  background: radial-gradient(
    circle at 100% 0,
    hsla(0, 0%, 100%, 0.85) 0,
    hsla(0, 0%, 96.1%, 0.13) 183%
  );
  padding: 30px;
  border-radius: 16px;
  box-sizing: border-box;
}
.SearchBar__Title {
  font-size: 100%;
  font-weight: 600;
  -webkit-user-select: none;
  user-select: none;
}
