.SearchBar {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.SearchBar__Block {
  flex-direction: column !important;
}
.SearchBar__Title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #181818;
}
.SearchBar__Input {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.SearchBar__Input > img {
  position: absolute;
  margin-left: auto;
  right: 13px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.SearchBar__Input__General {
  outline: none;
  width: 100%;
  display: flex;
  padding: 13px;
  box-sizing: border-box;
  border: 1px solid #e0dfdc;
  border-radius: 10px;

  font-weight: 300;
  font-size: 16px;
  color: #181818;
}
.SearchBar__Input__General::placeholder {
  color: #666666;
}

.SearchBar__Input__General::-ms-clear {
  display: none;
}
.SearchBar__Header {
}
.SearchBar__Title {
  font-size: 100%;
  font-weight: 600;
  -webkit-user-select: none;
  user-select: none;
}
