:root {
    --br-jenesei-red: #C71343;
    --br-gray: #D6D6D6;
    --br-half-white: #F4F4F4;
    --br-half-gray: #E0DFDC;
    --br-half-dark-gray: #666;
    --br-dark-gray: #585C60;
    --br-black: #181818;
    --br-full-black: #000;
    --br-product: #0E8AC3;
  }