.Login {
}
.Login__Block{
}
.Login__Block__Content {
  width: 62%;
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 26px;
}
.Login__Block__Content__Logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Login__Block__Content__Logo img {
  width: 100%;
}
.Login__Block__Content__Title {
  font-weight: 600;
  font-size: 38%;
}
.Login__Block__Content__InputBar {
}
.Login__Block__Content__Remember {
  font-weight: 300;
  font-size: 30%;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 5px;
}
.Login__Block__Content__Footer {
  font-weight: 300;
  font-size: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.Login__Block__Content__Footer a {
  text-decoration: none;
  color: #0070c9;
}
.Login__Block__Content__Forgot {
}
.Login__Block__Content__Registration {
}
.Login__Block__Content__InputBar {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.Login__Block__Content__InputBar__LoginLogo {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
.Login__Block__Content__InputBar__MailOrLogin {
  font-weight: 300;
  font-size: 28%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 100%;
  height: 44px;
  padding-left: 15px;
  padding-right: 15px;
  color: #333;
  text-align: left;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: #fff;
  background-clip: padding-box;
  border-radius: 16px 16px 0px 0px;
  position: relative;
}
.Login__Block__Content__InputBar__Password {
  font-weight: 300;
  font-size: 28%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 100%;
  height: 44px;
  padding-left: 15px;
  padding-right: 15px;
  color: #333;
  text-align: left;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  background: #fff;
  background-clip: padding-box;
  border-radius: 0px 0px 16px 16px;
}
.Login__Block__Content__InputBar input:focus {
  outline: none;
  border: 1px solid #0e8ac3;
  z-index: 2;
}
@media (orientation: portrait) and (max-width: 700px) {
  .Login__Block__Content {
    gap: 14px;
    width: 100%;
  }
  .Login__Block__Content__Logo {
  }
  .Login__Block__Content__Logo img {
    width: 60%;
}
  .Login__Block__Content__Title {
  }
  .Login__Block__Content__Remember {
  }
  .Login__Block__Content__Footer {
  }
  .Login__Block__Content__Footer a {
  }
  .Login__Block__Content__Forgot {
  }
  .Login__Block__Content__Registration {
  }
  .Login__Block__Content__InputBar {
    width: 100%;
  }
  .Login__Block__Content__InputBar__LoginLogo {
  }
  .Login__Block__Content__InputBar__MailOrLogin {
  }
  .Login__Block__Content__InputBar__Password {
  }
  .Login__Block__Content__InputBar input:focus {
  }
}
