.UserButton {
  display: flex;
  gap: 20px;
  font-size: 32%;
  font-weight: 500;
  width: 100%;
}
.UserButton__Item {
  border-radius: 7px;
  background: #ffffff;
  padding: 8px 10px 8px 10px;
  cursor: pointer;
}
.UserButton__Item__Active {
  background: #0e8ac3;
  color: #ffffff;
}
.UserButton__Item__NotHover {
  border-radius: 7px;
  background: #ffffff;
  padding: 8px 10px 8px 10px;
  cursor: pointer;
}
.UserButton__Item:active {
  background: #0e8ac3;
  color: #ffffff;
}
@media (orientation: portrait) {
  .UserButton {
    font-size: 36%;
  }
  .UserButton__Item__NotHover {
    padding: 6px 8px 6px 8px;
  }
  .UserButton__Item {
    padding: 6px 8px 6px 8px;
  }
}
