.UserSubscribers {
  height: 200px;
  flex: 1 1 calc((100% / 2) - 1rem);
  max-width: 100%;
}
.UserSubscribers__LIst {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: auto;
}
.UserSubscribers__LIst::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.UserSubscribers__Item {
  text-decoration: none;
  color: #000;
  align-items: center;
  background-image: linear-gradient(120deg, #fff 45%, #f5f5f5);
  border: 1px solid hsla(240, 6%, 83%, 0.63);
  border-radius: 11px;
  width: 94px;
  min-width: 94px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
  box-sizing: border-box;
  padding: 10px;
  height: 96px;
}
.UserSubscribers__Item__Avatar {
  height: 38px;
  width: 38px;
  min-height: 38px;
  object-fit: cover;
  border-radius: 100%;
  background-color: #0975a6;
}
.UserSubscribers__Item__Name {
  white-space: pre-line;
  font-size: 25%;
  font-weight: 400;
  color: #666666;
  text-align: center;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (orientation: portrait) {
  .UserSubscribers {
    flex: 1 1 calc((100%));
    height: auto;
    width: 100%;
  }
  .UserSubscribers__Item {
    width: 68px;
    min-width: 68px;
    height: 68px;
    padding: 6px;
  }
}
