.Checker {
  display: flex;
  box-sizing: border-box;
  width: 26px;
  height: 15px;
  padding: 1px 1px 1px 1px;
  border-radius: 11px;
  align-items: center;
  cursor: pointer;
  transition: all 400ms;
}
.Checker__True {
  background: linear-gradient(
      180deg,
      rgba(102, 102, 102, 0.75) 0%,
      rgba(102, 102, 102, 0) 67.71%
    ),
    #0e8ac3;
  background-blend-mode: overlay, normal;
  box-shadow: 0px 0.5px 2.5px 0px rgba(102, 102, 102, 0.75) inset;
}
.Checker__False {
  background: rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0.5px 1.5px 0px rgba(0, 0, 0, 0.12) inset,
    0px 0px 1px 0px rgba(0, 0, 0, 0.02) inset;
}
.Checker__Circle {
  transition: all 200ms ease-in-out;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 0.5px solid rgba(0, 0, 0, 0.02);
  background: #fff;
  box-shadow: 0px 0.20000000298023224px 0.25px 0px rgba(0, 0, 0, 0.12);
}
.Checker__Circle__True {
  margin-left: 0px;
}
.Checker__Circle__False {
  margin-left: 46%;
}
@media (orientation: portrait) {
  .Checker {
  }
  .Checker__True {
  }
  .Checker__False {
  }
  .Checker__Circle {
  }
  .Checker__Circle__True {
  }
  .Checker__Circle__False {
  }
}
