.UserChange {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.UserChange_Contents {
  background: #ffffff;
  border: 1px solid #e0dfdc;
  border-radius: 14px;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 16px;
  box-sizing: border-box;
  flex-direction: column;
}
.UserChange_Contents__Title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #181818;
  margin-top: 8px;
}
.UserChange_Contents__Title:first-child {
  margin-top: 0px;
}
.UserChange__Buttons{
    display: flex;
    gap: 20px;
    margin-top: 22px;
}
.UserChange__Save {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 8px;
  padding-right: 8px;
  background: #FFFFFF;
  border-radius: 6px;
  color: #0e8ac3;
  width: fit-content;
  cursor: pointer;
}
.UserChange_Contents__Info {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #666666;
  margin-top: 14px;
  width: fit-content;
  border: 1px solid #E0DFDC;
border-radius: 6px;
outline: none;
padding: 8px 10px 8px 10px;
}
.UserChange_Contents__firstName {
}
.UserChange_Contents__lastName {
}
