.HomeTopUserCard {
  width: 352px;
  height: 180px;
}
.HomeTopUserCardZero {
  width: 464px;
  height: 180px;
}
.HomeTopUserCard__Header{
}
.HomeTopUserCard__Info{
}
@media (orientation: portrait) {
  .HomeTopUserCard {
    width: 100%;
  }
  .HomeTopUserCardZero{
    width: 100%;
  }
}
