.HomeListSkill {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
}
.HomeListSkill_Choice {
}
.HomeListSkill_Choice__Title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 103.01%;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: #0e8ac3;
  margin-right: 10px;
  width: 100%;
  justify-content: center;
  display: inline;
}
.HomeListSkill_Choice__List {
  margin-top: 10px;
  display: flex;
  position: absolute;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 50%;
  transform: translate(-50%, 0%);
  background: #e1eff5;
  border-radius: 6px;
  display: flex;
  padding: 0 5px;
  width: 100%;
  padding-top: 10px;
}
.HomeListSkill_Choice__List_Item {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 103.01%;
  display: flex;
  align-items: center;
  text-align: center;
  background: #ffffff;
  border-radius: 4px;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  color: #000000;
  flex: 1 1 auto;
  margin: 0 5px;
  margin-bottom: 10px;
  justify-content: center;
  cursor: pointer;
  transition-duration: 0.5s;
}
.HomeListSkill_Choice__List_Item:hover {
  color: #ffffff;
  background: #0e8ac3;
}
.HomeListSkill_Choice__List_Item__Choise {
  color: #ffffff;
  background: #0e8ac3;
}
.HomeListSkill_Choice__List_Item__Choise:hover {
  color: #000000;
  background: #ffffff;
}
.HomeListSkill_Choice_Time__List {
  width: auto !important;
}
.HomeListSkill_Choice__Title__Black {
  display: inline;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-right: 6px;
}
.HomeListSkill_Choice__Title__Active{
    animation: pulse 2s 2s infinite;
}
@media (orientation: portrait) {
  .HomeListSkill_Choice__List {
    width: 100%;
  }
}
@keyframes pulse {
	0% {
        color: #0e8ac3;
	}
	25% {
		color: rgba(14, 138, 195, 0.69);
	}
    50% {
        color: rgba(14, 138, 195, 0.33);
	}
    75% {
		color: rgba(14, 138, 195, 0.69);
	}
	100% {
		color: #0e8ac3;
	}
}
