.HomeTopUserBestCard {
  width: 464px;
  height: 180px;
}
.HomeTopUserBestCard__Header {
}
.HomeTopUserBestCard__Info {
}
@media (orientation: portrait) {
  .HomeTopUserBestCard {
    width: 100%;
  }
}
