.HomeMenu a {
  background: #ffffff;
  border-radius: 25px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #0e8ac3;
  padding: 8px 40px 8px 40px;
  text-decoration: none;
  border: 1px solid #0e8ac3 !important;
  transition-duration: 0.2s;
}
.HomeMenu__Active {
  color: #ffffff !important;
  background: #0e8ac3 !important;
  border: 1px solid #0e8ac3 !important;
}
.HomeMenu {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: flex-start;
  gap: 20px;
}
@media (orientation: portrait) {
  .HomeMenu {
    justify-content: space-between;
}
}
