.UserAbout {
  flex: 1 1 calc((100% / 2) - 1rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.UserAbout__Title {
  font-size: 68%;
  font-weight: 600;
}
.UserAbout__SubTitle {
  font-size: 62%;
  font-weight: 600;
}
.UserAbout__Value {
  font-size: 38%;
  font-weight: 400;
  display: flex;
  height: min-content;
  white-space: pre-line;
  overflow-wrap: anywhere;
}
@media (orientation: portrait) {
  .UserAbout {
    flex: 1 1 calc((100%));
  }
}
