.UserStack {
  flex: 1 1 calc((100% / 3) - 2rem);
  flex-wrap: wrap;
  gap: 10px;
}
.UserStack__Footer__Item__Background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  border-radius: 6px;
}
.User__Content__Item__List {
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
  height: fit-content;
}
.UserStack__Footer__Item {
  font-size: 38%;
  font-weight: 500;
  border-radius: 6px;
  padding: 4px 4px 4px 4px;
  display: flex;
  width: min-content;
  align-items: center;
  justify-content: center;
  padding: 6px 10px 6px 10px;
  color: #ffffff;
  height: fit-content;
  position: relative;
  cursor: pointer;
}

.UserStack__Footer__Item__1 {
  background: linear-gradient(
      128.42deg,
      rgba(196, 196, 196, 0.62) 8.93%,
      rgba(255, 255, 255, 0.16) 22.49%,
      rgba(255, 255, 255, 0) 40.93%,
      rgba(100, 100, 100, 0.15) 58.34%,
      rgba(186, 188, 192, 0.15) 95.91%,
      rgba(188, 183, 183, 0.55) 117.98%
    ),
    radial-gradient(
        86.41% 170% at 92.19% 19.58%,
        #ffffff 0%,
        #fbfbfb 34.37%,
        #ffffff 30.93%,
        #bdbbbb 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: inset 1.97274px 0px 3.94549px rgba(202, 204, 205, 0.58);
}
.UserStack__Footer__Item__2 {
  background: linear-gradient(
      128.42deg,
      rgba(196, 196, 196, 0.62) 8.93%,
      rgba(255, 255, 255, 0.16) 22.49%,
      rgba(255, 255, 255, 0) 40.93%,
      rgba(100, 100, 100, 0.15) 58.34%,
      rgba(186, 188, 192, 0.15) 95.91%,
      rgba(188, 183, 183, 0.55) 117.98%
    ),
    radial-gradient(
        86.41% 170% at 92.19% 19.58%,
        #ffffff 0%,
        #fbfbfb 34.37%,
        #ffffff 30.93%,
        #bdbbbb 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: inset 1.97274px 0px 3.94549px rgba(202, 204, 205, 0.58);
}
.UserStack__Footer__Item__3 {
  background: linear-gradient(
      128.42deg,
      #cba04b 8.93%,
      rgba(229, 125, 3, 0.15) 23.63%,
      rgba(99, 61, 3, 0) 32.42%,
      rgba(79, 58, 4, 0) 87.3%,
      rgba(229, 179, 3, 0.15) 95.91%,
      rgba(229, 139, 3, 0.55) 117.98%
    ),
    radial-gradient(
        122.89% 108.25% at 92.19% 19.58%,
        rgba(255, 164, 81, 0.67) 0%,
        rgba(242, 151, 15, 0.67) 34.37%,
        rgba(231, 139, 1, 0.99) 63.92%,
        #e78b01 63.93%,
        rgba(225, 96, 3, 0.59) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: inset 1.97274px 0px 3.94549px rgba(202, 204, 205, 0.58);
}
.UserStack__Footer__Item__4 {
  background: linear-gradient(
      128.42deg,
      #cba04b 8.93%,
      rgba(229, 125, 3, 0.15) 23.63%,
      rgba(99, 61, 3, 0) 32.42%,
      rgba(79, 58, 4, 0) 87.3%,
      rgba(229, 179, 3, 0.15) 95.91%,
      rgba(229, 139, 3, 0.55) 117.98%
    ),
    radial-gradient(
        122.89% 108.25% at 92.19% 19.58%,
        rgba(255, 164, 81, 0.67) 0%,
        rgba(242, 151, 15, 0.67) 34.37%,
        rgba(231, 139, 1, 0.99) 63.92%,
        #e78b01 63.93%,
        rgba(225, 96, 3, 0.59) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: inset 1.97274px 0px 3.94549px rgba(202, 204, 205, 0.58);
}
.UserStack__Footer__Item__5 {
  background: linear-gradient(
      128.42deg,
      rgba(212, 216, 12, 0.62) 8.93%,
      rgba(218, 221, 74, 0.62) 22.49%,
      rgba(182, 185, 39, 0.81) 40.93%,
      rgba(222, 226, 23, 0.41) 58.34%,
      rgba(240, 244, 48, 0.56) 95.91%,
      rgba(251, 255, 48, 0.55) 117.98%
    ),
    radial-gradient(
        86.41% 170% at 92.19% 19.58%,
        #ffffff 0%,
        #fbfbfb 34.37%,
        #ffffff 63.93%,
        #e4e072 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: inset 1.97274px 0px 3.94549px rgba(202, 204, 205, 0.58);
  box-shadow: inset 1.97274px 0px 3.94549px rgba(202, 204, 205, 0.58);
}
.UserStack__Footer__Item__6 {
  background: linear-gradient(
      128.42deg,
      rgba(212, 216, 12, 0.62) 8.93%,
      rgba(218, 221, 74, 0.62) 22.49%,
      rgba(182, 185, 39, 0.81) 40.93%,
      rgba(222, 226, 23, 0.41) 58.34%,
      rgba(240, 244, 48, 0.56) 95.91%,
      rgba(251, 255, 48, 0.55) 117.98%
    ),
    radial-gradient(
        86.41% 170% at 92.19% 19.58%,
        #ffffff 0%,
        #fbfbfb 34.37%,
        #ffffff 63.93%,
        #e4e072 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: inset 1.97274px 0px 3.94549px rgba(202, 204, 205, 0.58);
  box-shadow: inset 1.97274px 0px 3.94549px rgba(202, 204, 205, 0.58);
}
.UserStack__Footer__Item__Title {
  color: linear-gradient(162.19deg, #888a96 14.18%, #edeef2 46.33%);
  text-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}
@media (orientation: portrait) {
  .UserStack {
    flex: 1 1 calc((100%));
  }
}
