.UserSecurityItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
}
.UserSecurityItem__Title {
  font-size: 30%;
  font-weight: 400;
  width:30%;
}
.UserSecurityItem__CheckBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    height: 100%;
    width:70%;
}
.UserSecurityItem__CheckBar__Item {
  width: 112px;
}
.UserSecurityItem__CheckBar__Line{
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}
@media (orientation: portrait) {
  .UserSecurityItem {
  }
  .UserSecurityItem__Title {
    font-size: 40%;
  }
  .UserSecurityItem__CheckBar {
    gap: 10px;
    justify-content: space-around
  }
  .UserSecurityItem__CheckBar__Item {
    width:50px;
    display: flex;
    justify-content: center;
  }
}
