.Block__Active {
  -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: -webkit-box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  border-radius: 16px;
  box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21);
  image-rendering: optimizeQuality;
  z-index: 1;
}
.Block__NonActive {
  -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: -webkit-box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  border-radius: 16px;
  box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21);
  image-rendering: optimizeQuality;
  z-index: 1;
}
.Block__NonActive__NotShadow {
  -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: -webkit-box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  border-radius: 16px;
  image-rendering: optimizeQuality;
  z-index: 1;
}
.Block__Active:hover {
  -webkit-box-shadow: 20px 20px 41px rgba(10, 10, 10, 0.32);
  box-shadow: 20px 20px 41px rgba(10, 10, 10, 0.32);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  z-index: 1;
}
.Transparent__Block {
  width: 100%;
  display: flex;
  gap: 18px;
  padding: 30px;
  background: #ffffff;
  box-sizing: border-box;
  background-color: hsla(0, 0%, 100%, 0.3);
}
.Translucent__Block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 7px;
  background: radial-gradient(
    circle at 100% 0,
    hsla(0, 0%, 100%, 0.85) 0,
    hsla(0, 0%, 96.1%, 0.13) 183%
  );
  padding: 30px;
  box-sizing: border-box;
}
.Half__Block {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.Half__Block__Header {
  border-radius: 16px 16px 0 0;
  background-color: rgba(248, 248, 252, 0.85);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 37%;
  font-weight: 500;
  padding: 28px;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}
.Half__Block__Footer {
  border-radius: 0 0 16px 16px;
  background: #ffffff;
  width: 100%;
  padding: 28px;
  height: -webkit-fill-available;
  box-sizing: border-box;
  gap: 20px;
}
.White__Block {
  display: flex;
  width: 100%;
  min-height: 75vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Inter";
  font-style: normal;
  font-size: 60px;
}
.White__Block__General {
  width: 640px;
  box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
  border-radius: 34px;
  padding: 60px 20px 60px 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Setting__Card__Short {
  background-image: linear-gradient(120deg, #fff 45%, #f5f5f5);
  border: 1px solid hsla(240, 6%, 83%, 0.63);
  border-radius: 11px;
  min-width: 250px;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 17px 19px;
  cursor: pointer;
  gap: 6px;
  box-sizing: border-box;
  position: relative;
}
.Search__User__Card {
  width: 335px;
  height: 144px;
  border-radius: 16px;
  background: #ffffff;
  padding: 28px;
  box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
@media (orientation: portrait) {
  .Setting__Card__Short {
    width: 100%;
  }
  .Transparent__Block {
    padding: 20px;
  }
  .Half__Block__Header {
    padding: 20px;
  }
  .Translucent__Block {
    padding: 20px;
  }
  .Half__Block__Footer {
    padding: 20px;
    gap: 10px;
    height: min-content;
  }
  .Half__Block {
    height: min-content !important;
  }
  .Search__User__Card{
    width: 100%;
    height: auto;
    padding: 20px;
  }
}
@media (orientation: portrait) and (max-width: 700px) {
  .White__Block {
    font-size: 38px;
  }
  .White__Block__General {
    width: 100%;
    padding: 20px 20px 20px 20px;
  }
}
