.AppGeneral__Background {
  position: absolute;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.AppGeneral {
  position: relative;
  overflow: hidden;
}
.AppGeneral__PWA {
  width: 92%;
  background: #0e8ac3;
  color: #ffffff;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%) !important;
  position: fixed;
  display: flex;
  bottom: 1%;
  z-index: 999 !important;
  border-radius: 11px;
  padding: 12px 12px 12px 12px;
  box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21) !important;
  align-items: center;
  justify-content: center;
  font-size: 80%;
  font-weight: 600;
  max-width: 500px;
}
@media (orientation: landscape) {
  .AppGeneral__PWA {
    display: none;
  }
}
