body {
  margin: 0;
  padding: 0;
}
.App_Actual {
  padding-top: 44px;
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1920px) {
  .App_Actual {
    width: 80%;
  }
}
.App {
  display: flex;
  /* background-color: beige; */
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: max-content;
  min-height: 100vh;
}
@media (max-width: 730px) {
  .App_Actual {
    width: 96%;
  }
}
@media (orientation: portrait) {
  .App_Actual {
    width: 96%;
  }
}
