.UserSetting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.UserSetting__Blocks__List {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 20px;
  flex-wrap: wrap;
}
.UserSetting__Blocks__List__Item__Title {
  font-size: 30%;
  font-weight: 600;
}
.Setting__Card__Short__Value__Link {
  text-decoration: none;
  color: #666666;
  width: min-content;
}
.Setting__Card__Short__Value__Link:hover {
  color: #0e8ac3;
}
.UserSetting__Blocks__List__ItemAboutLong{
  max-width: 460px;
  width: 100%;
}
.Setting__Card__Short__Value {
  white-space: pre-line;
  font-size: 25%;
  font-weight: 400;
  color: #666666;
}
.Setting__Card__Short__Image {
  position: absolute;
  right: 19px;
  top: 17px;
  color: #000;
  width: 15px;
  object-fit: contain;
}
.UserSetting__Blocks__List__Item__Plus {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition-duration: 0.5s;
}

.UserSetting__Blocks__List__Item__Plus:hover {
  opacity: 1;
}
.UserSetting__Blocks__List__Item__Plus img {
  fill: #d1d1d6a1;
  width: 20px;
  object-fit: cover;
}
.Setting__Card__Short__Value__Avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  object-fit: cover;
}
.UserSetting__Blocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.UserSetting__Blocks__Title {
  font-size: 70%;
  font-weight: 600;
}
.FieldChange__Delete {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
}
.FieldChange__Delete:hover {
  background-color: rgba(37, 38, 40, 0.08);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
}
@media (orientation: portrait) {
  .UserSetting__Blocks__List__Item__Title {
    font-size: 60%;
  }
  .Setting__Card__Short__Value {
    font-size: 40%;
  }
}
