.UserPublicationWriteAdd {
}
.UserPublicationWriteAdd__Title {
  font-size: 35%;
  font-weight: 500;
}
.UserPublicationWriteAdd__List {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
