.ThreeDot {
  display: flex;
  gap: 4px;
  justify-content: center;
  box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21);
  cursor: pointer;
}
.ThreeDot img {
  width: 6px;
  height: 6px;
  opacity: 0.3; /* Начальная прозрачность изображений */
  transition: opacity 0.3s ease-in-out; /* Анимация появления/тускления */
}

.ThreeDot img.animated {
  opacity: 1; /* Полная прозрачность активного изображения */
}
