.ThreeDot {
  display: flex;
  gap: 4px;
  width: 100%;
  justify-content: center;
  box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21);
  cursor: pointer;
}
.ThreeDot img {
  width: 6px;
  height: 6px;
}
