.ChatGeneralBar {
  width: 400px;
  height: 100%;
}
.ChatGeneralBar__Header {
}
.ChatGeneralBar__List {
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  gap: 6px;
  flex-direction: column;
  overflow: hidden;
}
.ChatGeneralBar__List__Input {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  color: #333;
  display: inline-block;
  font-size: 28%;
  font-weight: 300;
  height: 34px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  text-align: left;
  vertical-align: top;
  width: 100%;
}
.ChatGeneralBarItem__List {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 700px;
}
.ChatGeneralBar__List__Input:focus {
  border: 1px solid #0e8ac3;
  outline: none;
  z-index: 2;
}
@media (orientation: portrait) {
  .ChatGeneralBar {
    width: 100%;
    height: min-content;
  }
  .ChatGeneralBar__List {
  }
  .ChatGeneralBar__List__Input {
    display: none;
  }

  .ChatGeneralBarItem__List {
    display: block;
    flex-direction: row;
    height: min-content;
    width: 100px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg);
    transform-origin: right top;
    transform: rotate(-90deg) translateY(-100px);
  }
  .ChatGeneralBarItem__List > div {
    transform: rotate(90deg);
    transform-origin: right top;
  }
  .ChatGeneralBar__List::-webkit-scrollbar {
    /* width: 0; */
  }
}
