.ChatGeneralBarItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px;
  height: 40px;
  min-height: 46px;
  padding-left: 8px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.ChatGeneralBarItem__Avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2px;
  box-sizing: border-box;
}
.ChatGeneralBarItem__Info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  height: -webkit-fill-available;
}
.ChatGeneralBarItem__Info__Name {
  font-size: 32%;
  font-weight: 500;
  text-wrap: nowrap;
  overflow: hidden;
}
.ChatGeneralBarItem__Info__Preview {
  font-size: 20%;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ChatGeneralBarItem__Message {
  font-size: 30%;
}
.ChatGeneralBarItem-Choice {
  color: #fff;
  background-color: var(--br-product) !important;
}
@media (orientation: landscape) {
  .ChatGeneralBarItem:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
}
@media (orientation: portrait) {
  .ChatGeneralBarItem {
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    width: 30px;
    gap: 0;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .ChatGeneralBarItem__YesList{
    height: 38px;
  }
  .ChatGeneralBarItem__Avatar{
    width: 30px;
    height: 30px;
  }
  .ChatGeneralBarItem__Info {
    display: none;
  }
  .ChatGeneralBarItem__Message {
    display: none;
  }
}
