.Chat {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 75vh;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-family: "Montserrat";
  font-style: normal;
  font-size: 48px;
}
.Chat__Header {
}
.Chat__Title {
  font-size: 100%;
  font-weight: 600;
  -webkit-user-select: none;
  user-select: none;
}
@media (orientation: portrait) {
  .Chat {
    font-size: 32px;
    gap: 8px;
    height: 100%;
  }
  .App:has(.Chat),.AppGeneral__Actual:has(.Chat) {
    overflow: hidden;
    height: 100dvh;
  }
}
