.Chat {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Chat_Block {
  display: flex;
}

.Chat_Block .chat-list {
  width: 25%;
  overflow: hidden;
}

.Chat_Block .rce-container-mlist {
  width: 100%;
}
.Chat_Message {
  display: flex;
  width: 75%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 23px;
}
.Chat_Title {
  height: 2.3rem;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  /* line-height: 19px; */
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  color: white;
  background: #7876e6;
  border-radius: 10px;
  align-self: flex-start;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1em;
}
.Chat_Block {
  margin-top: 1em;
}
.Chat_Block .rce-container-citem {
  margin-bottom: 1em;
}
.Chat_Block .rce-container-citem:last-child {
  margin-bottom: 0;
}
.Chat_Block .rce-citem {
  background: rgba(120, 118, 230, 0.18);
  backdrop-filter: blur(7.5px);
  /* Note: backdrop-filter has minimal browser support */
  transition: 1s;

  border-radius: 15px;
}
.Chat_Block .rce-citem:hover {
  background: #ffffff;
  transition: 1s;
}
.rce-container-clist :last-child {
  /* margin-bottom: 0; */
}
.Chat_Block .rce-avatar-container img {
  border-radius: 3px !important;
}
.Chat_Block .rce-citem-body--top-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 27px;
  color: #000000;
}
.Chat_Block .rce-citem-body--bottom-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 0.6rem;
  line-height: 27px;
  color: #000000;
}
.Chat_Message {
  background: rgba(231, 230, 250, 0.28);
  border-radius: 15px;
  padding: 0.1em;
}
.Chat_Block .rce-container-input textarea {
  background: #e7e6fa;
  border-radius: 11px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 21px;
  color: rgba(121, 121, 197, 0.7);
  overflow: hidden;
}
.Chat_Block .rce-mbox {
  background: #e4e4fa;
  border-radius: 11.65px;
  box-shadow: none;
}
.Chat_Block .rce-mbox-left-notch {
  display: none;
}
.Chat_Block .rce-mbox-right-notch {
  display: none;
}
.Chat_Block .rce-mbox-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12.4267px;
  line-height: 1rem;
  color: #000000;
}
.Chat_Block .rce-mbox-text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 0.7rem;
  line-height: 15px;

  color: #535353;
}
.Chat_Block .rce-container-input {
  background: none;
}
