.Header {
  --header-height: 44px;
  --header-margin-left: 16px;
  --header-margin-left-mobile: 5px;
  --header-margin-right: 5px;
  --header-height: 44px;
  --header-height: 44px;
  --header-height: 44px;
}
.Header-background {
  background-color: rgba(37, 38, 40, 0.21);
  background-image: radial-gradient(
    circle at 25%,
    hsla(0, 0%, 100%, 0.2),
    rgba(50, 50, 50, 0.2) 80%
  );
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
}
.Header {
  height: var(--header-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
}
.HeaderGeneral {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-left: var(--header-margin-left);
  margin-right: var(--header-margin-right);
}
@media (orientation: portrait) {
  .HeaderGeneral {
    margin-left: var(--header-margin-left-mobile);
  }
}
.App:has(.Major) .Header-background_mobile,
.App:has(.Login) .Header-background_mobile,
.App:has(.Forgot) .Header-background_mobile,
.App:has(.Registration) .Header-background_mobile {
  background-image: none;
  background-color: rgba(251, 251, 253, 0.5);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);
}
