.HeaderBar__Menu {
  gap: 8px;
  z-index: 3;
}
.HeaderBarMenu__Title {
  font-size: 100%;
  font-weight: 700;
}
.HeaderBarMenu__List {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.HeaderBarMenu__List a {
  text-decoration: none;
  width: 100%;
  padding: 3%;
  box-sizing: border-box;
  font-size: 90%;
  font-weight: 400;
  color: #000;
  display: flex;
  align-items: center;
  gap: 6px;
}
.HeaderBarMenu__List a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.HeaderBarMenu__List__Image{
    width: 20px;
    height: 20px;
}