body {
  margin: 0;
  padding: 0;
}
.App_Actual {
  padding-top: 78px;
  padding-bottom: 34px;
  height: 100%;
  width: 1400px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: max-content;
  min-height: 100vh;
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.Block__Active {
  -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: -webkit-box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  border-radius: 16px;
  box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21);
  image-rendering: optimizeQuality;
  z-index: 1;
}
.Block__NonActive {
  -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: -webkit-box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  transition: box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-box-shadow 0.2s cubic-bezier(0.32, 0.08, 0.24, 1),
    -webkit-transform 0.2s cubic-bezier(0.32, 0.08, 0.24, 1);
  border-radius: 16px;
  box-shadow: 17px 20px 40px rgba(0, 0, 0, 0.21);
  image-rendering: optimizeQuality;
  z-index: 1;
}
.Block__Active:hover {
  -webkit-box-shadow: 20px 20px 41px rgba(10, 10, 10, 0.32);
  box-shadow: 20px 20px 41px rgba(10, 10, 10, 0.32);
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  z-index: 1;
}

@media (max-width: 1500px) {
  .App_Actual {
    width: 1100px;
  }
}
@media (max-width: 1200px) {
  .App_Actual {
    width: 900px;
  }
}
@media (orientation: portrait) {
  .App_Actual {
    width: 96%;
  }
}
@media (orientation: portrait) {
  .App {
    background-image: none !important;
    background: -webkit-linear-gradient(
      top,
      rgba(0, 59, 174, 0.315) 13.58%,
      rgba(180, 173, 255, 0.7) 36.3%,
      rgba(255, 249, 200, 0.063) 94.34%,
      rgba(214, 244, 255, 0.7) 94.35%,
      rgba(61, 51, 24, 0.7) 94.36%
    );

    backdrop-filter: blur(41.5px);
  }
}
