.Major {
    display: flex;
    width: 100%;
}

.Major-Block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.Major-Block__Title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
}

.Major-Block__Input-MailOrPhone {
    margin-top: 33px;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.Major-Block__Input-MailOrPhone input {
    height: 50px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    padding-left: 14px;
    transition-duration: 0.5s;
    outline: none;
}

.Major-Block__Input-MailOrPhone input:active, .Major-Block__Input-MailOrPhone input:hover, .Major-Block__Input-MailOrPhone input:focus {
    border: 1px solid #0E8AC3;
}

.Major-Block__Input-Password {
    margin-top: 25px;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    position: relative;
}

.Major-Block__Input-Password input {
    height: 50px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #000000;
    padding-left: 14px;
    transition-duration: 0.5s;
    outline: none;
}

.Major-Block__Input-Password input:active, .Major-Block__Input-Password input:hover, .Major-Block__Input-Password input:focus {
    border: 1px solid #0E8AC3;
}

.Major-Block__Input-Password__Show {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    top: 16px;
    right: 12px;
    user-select:none;
    cursor: pointer;
}
.Major-Block__Input-Password__AnShow{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    position: absolute;
    top: 13px;
    right: 12px;
    cursor: pointer;
    padding-left: 7px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    user-select:none;
    background: rgba(0, 0, 0, 0.05);
}
.Major-Block__Button-Forgot {
    margin-top: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-right: auto;
    cursor: pointer;
}

.Major-Block__Login__Style-Standart {
    margin-top: 56px;
    height: 50px;
    width: 100%;
    background: #0E8AC3;
    border-radius: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.5s;
}

.Major-Block__Login__Style-Standart :active, .Major-Block__Login__Style-Standart:hover, .Major-Block__Login__Style-Standart:focus {
    background: #0D719E;
}

.Major-Block__OR {
    margin-top: 12px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.Major-Block__Login__Style-Google {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    margin-top: 11px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 25px;
    transition-duration: 0.5s;
}

.Major-Block__Login__Style-Google :active, .Major-Block__Login__Style-Google:hover, .Major-Block__Login__Style-Google:focus {
    background: rgba(0, 0, 0, 0.05);
}

.Major-Block__Login__Style-Google img {
    width: 27px;
    height: 27px;
}

.Major-Block__Login__Style-Google__Text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-left: 17px;
}

.Major_Picture img {
    width: 88%;
    padding: 12%;
    box-sizing: border-box;
}

@media (orientation: portrait) {
    .Major {
        justify-content: center;
    }

    .Major-Block {
        margin-bottom: 100px;
        margin-top: 10px;
    }

    .Major-Block__Title {

    }

    .Major-Block__Input-MailOrPhone {

    }

    .Major-Block__Input-MailOrPhone input {

    }

    .Major-Block__Input-Password {

    }

    .Major-Block__Input-Password input {

    }

    .Major-Block__Input-Password__Show {

    }

    .Major-Block__Button-Forgot {

    }

    .Major-Block__Login__Style-Standart {

    }

    .Major-Block__OR {

    }

    .Major-Block__Login__Style-Google {

    }

    .Major-Block__Login__Style-Google img {

    }

    .Major-Block__Login__Style-Google__Text {

    }

    .Major_Picture img {
        display: none;
    }
}