.Major {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-size: 60px;
}
.Major__Animated {
}
.Major__Animated__Logo {
  width: 320px;
  height: 320px;
}
.Major__Name {
  font-weight: 600;
  font-size: 100%;
  color: #000000;
  margin-top: 38px;
}
.Major__Login {
  font-weight: 600;
  font-size: 42%;
  width: 164px;
  height: 50px;
  display: flex;
  background: #000000;
  border-radius: 54px;
  color: white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 38px;
  text-decoration: none;
}
.Major__Description {
  font-weight: 500;
  font-size: 65%;
  color: #000000;
  margin-top: 38px;
  width: 700px;
  text-align: center;
}
.Major__BestFeatures{
  display: flex;
  gap: 50px;
  margin-top: 72px;
}
.Major__BestFeatures__Item{
  width: 650px;
  border-radius: 16px;
  box-shadow: 17px 20px 40px rgba(0,0,0,.21);
  display: flex;
  padding: 40px;
  flex-direction: column;
  gap: 20px;
}
.Major__BestFeatures__Item__Title{
  font-weight: 600;
  font-size: 48%;
}
.Major__BestFeatures__Item__Description{
  font-weight: 400;
  font-size: 42%;
}