.UserPublicationWriteInfoLinkToVideo {
}
.UserPublicationWriteInfoLinkToVideo__Content__Input {
  border: 1px solid transparent;
}
.UserPublicationWriteInfoLinkToVideo__Cover {
  color: var(--br-gray);
  transition: all 0.3s;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
}
.UserPublicationWriteInfoLinkToVideo__Cover__Min{
  max-height: 100px;
  transition: all 0.5s ease-out;
}
.UserPublicationWriteInfoLinkToVideo__Cover__Big{
  max-height: 1000px;
  transition: all 0.5s ease-in;
}
.UserPublicationWriteInfoLinkToVideo__Cover__Player {
  height: 100% !important;
  width: 100% !important;
}
.UserPublicationWriteInfoLinkToVideo__Cover__Title {
  position: absolute;
  font-size: 40%;
  font-weight: 500;
}
.UserPublicationWriteInfoLinkToVideo__Cover__Player iframe {
  border-radius: 12px;
  border: 2px dashed var(--br-gray);
}
.UserPublicationWriteInfoLinkToVideo__Content{
  display: flex;
    flex-direction: column;
    gap: 10px;
}
@media (orientation: portrait) {
  .UserPublicationWriteInfoLinkToVideo__Cover {
  }
}
