.Registration {
  display: flex;
  width: 100%;
  min-height: 75vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Inter";
  font-style: normal;
  font-size: 60px;
}
.Registration__Block {
  width: 640px;
  box-shadow: 0 11px 34px 0 rgba(0, 0, 0, 0.2);
  border-radius: 34px;
  padding: 60px 20px 60px 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Registration__Block__Content {
  width: 62%;
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 26px;
}
.Registration__Block__Content__Logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Registration__Block__Content__Logo img {
  width: 100%;
}
.Registration__Block__Content__Title {
  font-weight: 600;
  font-size: 38%;
}
.Registration__Block__Content__InputBar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 18px;
  width: 100%;
}
.Registration__Block__Content__InputBar input {
  font-weight: 300;
  font-size: 28%;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  width: 100%;
  height: 44px;
  padding-left: 15px;
  padding-right: 15px;
  color: #333;
  text-align: left;
  border: 1px solid #d6d6d6;
  background: #fff;
  background-clip: padding-box;
  border-radius: 8px;
  position: relative;
}
.Registration__Block__Content__InputBar input:focus {
  outline: 1px solid #0e8ac3;
  border: 1px solid #0e8ac3;
  z-index: 2;
}
.Registration__Block__Content__Remember {
  font-weight: 300;
  font-size: 28%;
  width: 100%;
}
.Registration__Block__Content__Footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.Registration__Block__Content__Registration {
  font-weight: 500;
  font-size: 28%;
  width: 100%;
  height: 44px;
  color: #fff;
  background: #0e8ac3;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.Registration__Block__Content__Footer__Login {
  text-decoration: none;
  color: #0070c9;
  font-weight: 300;
  font-size: 30%;
}
@media (orientation: portrait) and (max-width: 700px) {
  .Registration {
    font-size: 48px;
  }
  .Registration__Block__Content {
    gap: 14px;
    width: 100%;
  }
  .Registration__Block {
    width: 100%;
  }
  .Registration__Block__Content__Logo {
  }
  .Registration__Block__Content__Logo img {
  }
  .Registration__Block__Content__InputBar {
  }
  .Registration__Block__Content__InputBar input {
  }
  .Registration__Block__Content__Remember {
  }
  .Registration__Block__Content__Footer {
  }
}
