.Registration {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

.Registration_Picture {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  max-height: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.Registration_Picture img {
  width: 100%;
}

.Registration_Block_Style {
  display: flex;
}

.Registration_Block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: white;
  z-index: 2;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 30px;
  padding-bottom: 52px;
  position: relative;
}

.Registration_Block-Title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 55px;
  color: #000000;
}

.Registration_Block-Mail {
  margin-top: 33px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  position: relative;
}

.Registration_Block-Mail input {
  height: 50px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  padding-left: 14px;
  transition-duration: 0.5s;
  outline: none;
}
.Registration_Block-Mail input:hover {
  border: 1px solid #0e8ac3;
}
.Registration_Block-name {
  margin-top: 33px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  position: relative;
}

.Registration_Block-name input {
  height: 50px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  padding-left: 14px;
  transition-duration: 0.5s;
  outline: none;
}
.Registration_Block-name input:hover {
  border: 1px solid #0e8ac3;
}
.Registration_Block-Password {
  margin-top: 33px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  position: relative;
}

.Registration_Block-Password_Forgot {
  position: absolute;
  right: 0;
  height: 100%;
  padding-top: 9px;
  padding-bottom: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  padding-right: 10px;

  color: #636364;
  text-decoration: none;
}
.Registration_Block-Check__Block {
  width: 100%;
  height: 50px;
}
.Registration_Block-Check {
  margin-top: 24px;
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.03em;
  color: #181818;
  width: 100%;
  position: relative;
}

.Registration_Block-Check_Style {
  align-items: center;
  margin-right: auto;
}

.Registration_Block-Check input {
  margin-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  content: "";
}
.Registration_Block-Check input:hover {
  border: 1px solid #0e8ac3;
}
.Registration_Block-Password input {
  height: 50px;
  width: 100%;
  background: #ffffff;
  border: 1px solid #000000;
  padding-left: 14px;
  transition-duration: 0.5s;
  outline: none;
}
.Registration_Block-Password input:hover {
  border: 1px solid #0e8ac3;
}
.Registration_Block-Registration {
  margin-top: 56px;
  height: 50px;
  width: 100%;
  background: #0e8ac3;
  border-radius: 25px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.5s;
}

.Registration_Block__OR {
  margin-top: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.Registration_Block__Style-Google {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  margin-top: 11px;
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 25px;
  transition-duration: 0.5s;
}
.Registration_Block__Style-Google:hover {
  background: rgba(0, 0, 0, 0.05);
}
.Registration_Block__Style-Google__Text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-left: 17px;
}

.Registration_Block__Style-Google img {
  width: 27px;
  height: 27px;
}

.Registration_Block-Login {
  margin-top: 16px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  width: 100%;
  color: #595959;
}

.Registration_Block-Login a {
  text-decoration: none;
  color: #0e8ac3;
  margin-left: 5px;
}
.Registration_Block-Registration:hover {
  background: #0d719e;
}
.Registration_Block-Password__Show {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  top: 16px;
  right: 12px;
  user-select: none;
  cursor: pointer;
}

.Registration_Block-Password__AnShow {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  top: 13px;
  right: 12px;
  cursor: pointer;
  padding-left: 7px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  user-select: none;
  background: rgba(0, 0, 0, 0.05);
}
.Registration_Block-Mismatch {
  position: absolute;
  margin-right: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-top: 2px;
}
.Registration_Block-Mismatch__Check {
  position: absolute;
  margin-right: auto;
}
@media (orientation: portrait) {
  .Registration_Block {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    background-color: white;
    z-index: 2;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 50px;
  }
}
